body {
    font-family: 'Roboto', 'Noto Sans TC', 'Arial', 'Helvetica', 'sans-serif';
    background: #eee;
}

.font{
    font-family:'Righteous';
}

/*yuchiMenu*******************************************************/

#yuchiMenu {
    font-size: 0.8rem;
    margin: 0;
}

#yuchiMenu>nav{
    margin: 0;
}

/* yuchiAbout ************************************************************/

#yuchiAbout {
    background: url("../images/camping.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.board {
    background: rgb(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    /* margin: 0px auto; */
    padding: 2%;
    overflow: auto;
}

.board>div>div>img {
    opacity: 80%;
    max-width: 100px;
    max-height: 100px;
}

.board-1 {
    background: rgb(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    /* margin: 0px auto; */
    padding: 2%;
    overflow: auto;
    text-align: center;
}

#aboutImg {
    height: 150px;
    /* width: 20px; */
    /* overflow: hidden; */
}

/* yuchiSkill ********************************************************/

#yuchiSkill {
    background: #507eac;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    text-align: center;
    color: white;
}

#yuchiSkill>.container>.icon>.col>img {
    width: 100px;
    height: 100px;
    border-radius: 15%;
    margin-bottom: 5px;
    /* animation: position 5s ease-in-out infinite ; */
}

#yuchiSkill>.container>.icon>.col>img:hover {
    box-shadow: 10px 10px 0px 0px #0e508f;
    box-shadow: #99c1f5 -1px 1px, #99c1f5 -2px 2px, #99c1f5 -3px 3px, #99c1f5 -4px 4px, #99c1f5 -5px 5px, #99c1f5 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
    /* animation: position 5s ease-in-out infinite ; */
}

/* @keyframes position {
    0% {
        box-shadow:  0px 3px 5px 0px #ffffff;
        transform: translateY(0px);
    }

    50% {
        box-shadow: 10px 10px 5px 0px #0e508f;
        transform: translate(-10px -10px)
    }
    
    100% {
        box-shadow:  0px 3px 5px 0px #ffffff;
        transform: translateY(0px)
    }
} */

#icon1 {
    animation: hello 2s cubic-bezier(0.4, 0, 0.2, 1);
}

#icon2 {
    animation: hello2 2s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes hello {
    from {
        transform: translateX(-500%);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes hello2 {
    from {
        transform: translateX(500%);
    }
    to {
        transform: translateX(0px);
    }
}

/*I work with skills********************************/

@import url("//fonts.googleapis.com/css?family=Inconsolata:700");
#yuchiSkill p {
    font-family: Inconsolata, source code pro, consolas, monospace;
    margin-left: 30%;
    margin-bottom: 100px;
    transform: translateX(-6rem);
    font-size: 24px;
    font-weight: bold;

    
}

/* yuchiEmploy********************************************************/

#yuchiEmploy {
    /* background: rgb(182, 164, 83); */
    /* background: #1e64aa; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    /* text-align: center; */
    color: rgb(27, 93, 155);
}

.paper {
    /* background: rgb(31, 89, 122); */
    box-shadow: 0px 0px 8px 2px #2a6397;
    /* height: 100vh; */
}

/* re************************************************************* */

#re{
    /* height: 100vh; */
    /* background: rgb(182, 164, 83); */
    background: #507eac;
    color: rgb(27, 93, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
   
}

#cname1,#cname2,#cname3{
    
    background: rgb(9, 81, 122);
    /* display: flex; */

    /* justify-content:center; */
    /* align-items: flex-start; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* overflow: auto; */
    color: whitesmoke;
    
    
}

#content1,#content2,#content3{
    display: flex;
    justify-content:center;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    overflow: auto;
}

/* yuchiWork********************************************************/




.posts>div {
    font: 16px/250px Arial;
    width: 245px;
    height: 250px;
    /* float: left; */
    margin: 20px;
    /* display: block; */
    text-align: center;
    background: rgb(236, 236, 236);
    color: black;
    border-radius: 5%;
}



#graphic_1 {
    background: url("../images/graphic/003.jpg");
    background-size: cover;
}

#graphic_2 {
    background: url("../images/graphic/004.jpg");
    background-size: cover;
}

#graphic_3 {
    background: url("../images/graphic/005.jpg");
    background-size: cover;
}

#graphic_4 {
    background: url("../images/graphic/006.jpg");
    background-size: cover;
}

#graphic_5 {
    background: url("../images/graphic/007.jpg");
    background-size:cover;
}

#web_1 {
    background: url("../images/web/001.jpg");
    background-size: cover;
}

#web_2 {
    background: url("../images/web/002.jpg");
    background-size: cover;
}

#web_3 {
    background: url("../images/web/003.jpg");
    background-size: cover;
}
#web_4 {
    background: url("../images/web/004.jpg");
    background-size: cover;
}
#web_5 {
    background: url("../images/web/005.jpg");
    background-size:contain;
}
#web_6 {
    background: url("../images/web/006.jpg");
    background-size: cover;
}
#web_7 {
    background: url("../images/web/007.jpg");
    background-size: cover;
}




#other_1 {
    background: url("../images/others/001.jpg");
    background-size: cover;
    
}

#other_2 {
    background: url("../images/others/003.jpg");
    background-size: cover;
    
}

#yuchiWork {
    /* background: rgb(48, 104, 117); */
    background: #507eac;
}

/* nav導覽列項目高亮加底線 */

.nav-link::after {
    content: "";
    height: 2px;
    background: white;
    width: 0%;
    display: block;
    margin: 1px 0;
    transition: 1s width ease;
}

.nav-link.active::after {
    width: 100%;
}

 /* 轉場 ****************************************************************/
 .nav-link{
    transition: 1s ease;
}

#yuchiMenu{
    transition: 2s;
  }

/* yuchiContact********************************************************/

#yuchiContent>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#yuchiContent {
    background: rgb(235, 235, 235);
    
}

#form {
    /* box-shadow: 0px 0px 5px 1px #e4e4e4; */
    max-width: 65%;
}






/* MyWork hover***************************** */

.frame {
    text-align: center;
    position: relative;
    /* cursor: pointer; */
    perspective: 500px;
    
}

.frame .details {
    width: 100%;
    height: 100%;
    /* padding: 5% 8%; */
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
    transform-origin: 50%;
    background: rgb(233, 233, 233);
    opacity: 0;
    transition: all 0.4s ease-in;
    color: white;
    border-radius: 5%;
}

.frame:hover .details {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
}


/* yuchiArrow ******************************************/
#yuchiArrow {
    right: 5vh;
    bottom: 5vh;
    z-index: 999;


    /* 第一頁回TOP消失 */
        /* display: none;  */
}
/*vertical-align(垂直對齊)*/
/* #yuchiArrow i {
width: 2rem;
font-size: 2rem;
vertical-align: -25%;
} */

#yuchiArrow a {
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    100% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate(0, 0);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate(0, -30px);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate(0, -15px);
    }
    90% {
        transform: translate(0, -4px);
    }
}

